<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <nav class="navBar">
    <div class="navItem">
      <h1>Mini Message Board</h1>
    </div>
    <div class="navItem"><a>Add Message</a></div>
  </nav>
  <main>
    <div class="msgForm">
      <form method="POST" action="/new">
        <div class="formItem">
          <label for="author">Author: </label>
          <input type="text" id="author" name="author" required>
        </div>
        <div class="formItem">
          <label for="message">Message: </label>
          <input type="text" id="message" name="message" required>
        </div>
        <div>
          <button class="submitBtn">Submit</button>
        </div>
    </form>
    </div>
  </main>
</body>
</html>